# Loading

In [ ]:
!pip install scanpy
!pip install episcanpy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting scanpy
  Downloading scanpy-1.9.1-py3-none-any.whl (2.0 MB)
     |████████████████████████████████| 2.0 MB 5.0 MB/s
Requirement already satisfied: natsort in /usr/local/lib/python3.7/dist-packages (from scanpy) (5.5.0)
Collecting session-info
  Downloading session_info-1.0.0.tar.gz (24 kB)
Requirement already satisfied: numpy>=1.17.0 in /usr/local/lib/python3.7/dist-packages (from scanpy) (1.21.6)
Requirement already satisfied: statsmodels>=0.10.0rc2 in /usr/local/lib/python3.7/dist-packages (from scanpy) (0.12.2)
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (from scanpy) (1.2.0)
Requirement already satisfied: scipy>=1.4 in /usr/local/lib/python3.7/dist-packages (from scanpy) (1.7.3)
Requirement already satisfied: networkx>=2.3 in /usr/local/lib/python3.7/dist-packages (from scanpy) (2.6.3)
Collecting matplotlib>=3.4
  Downloading matplotlib-3.5.3-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.whl (11.2 MB)
     |████████████████████████████████| 11.2 MB 44.8 MB/s
Requirement already satisfied: numba>=0.41.0 in /usr/local/lib/python3.7/dist-packages (from scanpy) (0.56.4)
Requirement already satisfied: h5py>=3 in /usr/local/lib/python3.7/dist-packages (from scanpy) (3.1.0)
Requirement already satisfied: patsy in /usr/local/lib/python3.7/dist-packages (from scanpy) (0.5.3)
Requirement already satisfied: pandas>=1.0 in /usr/local/lib/python3.7/dist-packages (from scanpy) (1.3.5)
Requirement already satisfied: packaging in /usr/local/lib/python3.7/dist-packages (from scanpy) (21.3)
Requirement already satisfied: scikit-learn>=0.22 in /usr/local/lib/python3.7/dist-packages (from scanpy) (1.0.2)
Requirement already satisfied: seaborn in /usr/local/lib/python3.7/dist-packages (from scanpy) (0.11.2)
Requirement already satisfied: importlib_metadata>=0.7 in /usr/local/lib/python3.7/dist-packages (from scanpy) (4.13.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from scanpy) (4.64.1)
Collecting umap-learn>=0.3.10
  Downloading umap-learn-0.5.3.tar.gz (88 kB)
     |████████████████████████████████| 88 kB 6.3 MB/s
Collecting anndata>=0.7.4
  Downloading anndata-0.8.0-py3-none-any.whl (96 kB)
     |████████████████████████████████| 96 kB 4.7 MB/s
Requirement already satisfied: typing_extensions in /usr/local/lib/python3.7/dist-packages (from anndata>=0.7.4->scanpy) (4.1.1)
Requirement already satisfied: cached-property in /usr/local/lib/python3.7/dist-packages (from h5py>=3->scanpy) (1.5.2)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib_metadata>=0.7->scanpy) (3.10.0)
Requirement already satisfied: pyparsing>=2.2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.4->scanpy) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.4->scanpy) (2.8.2)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.4->scanpy) (7.1.2)
Collecting fonttools>=4.22.0
  Downloading fonttools-4.38.0-py3-none-any.whl (965 kB)
     |████████████████████████████████| 965 kB 44.5 MB/s
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.4->scanpy) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.4->scanpy) (1.4.4)
Requirement already satisfied: llvmlite<0.40,>=0.39.0dev0 in /usr/local/lib/python3.7/dist-packages (from numba>=0.41.0->scanpy) (0.39.1)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from numba>=0.41.0->scanpy) (57.4.0)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0->scanpy) (2022.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7->matplotlib>=3.4->scanpy) (1.15.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.22->scanpy) (3.1.0)
Collecting pynndescent>=0.5
  Downloading pynndescent-0.5.8.tar.gz (1.1 MB)
     |████████████████████████████████| 1.1 MB 57.1 MB/s
Collecting stdlib_list
  Downloading stdlib_list-0.8.0-py3-none-any.whl (63 kB)
     |████████████████████████████████| 63 kB 2.3 MB/s
Building wheels for collected packages: umap-learn, pynndescent, session-info
  Building wheel for umap-learn (setup.py) ... done
  Created wheel for umap-learn: filename=umap_learn-0.5.3-py3-none-any.whl size=82830 sha256=727fbe26c4ae496a1b8fc15ff6799fe40044484543fdcfc13fcff3058c367dfd
  Stored in directory: /root/.cache/pip/wheels/b3/52/a5/1fd9e3e76a7ab34f134c07469cd6f16e27ef3a37aeff1fe821
  Building wheel for pynndescent (setup.py) ... done
  Created wheel for pynndescent: filename=pynndescent-0.5.8-py3-none-any.whl size=55509 sha256=6c3d5ca8e1f7eb0ba74b75f32dc341c2732d74f7b26cecd87554c760d74baa30
  Stored in directory: /root/.cache/pip/wheels/19/bc/eb/974072a56a7082a302f8b4be1ad6d21bf5019235c2eff65928
  Building wheel for session-info (setup.py) ... done
  Created wheel for session-info: filename=session_info-1.0.0-py3-none-any.whl size=8045 sha256=35ebea11b4bfd1525d0f23786f686935b8747280e28c1d1aff5929cc58fc9edc
  Stored in directory: /root/.cache/pip/wheels/bd/ad/14/6a42359351a18337a8683854cfbba99dd782271f2d1767f87f
Successfully built umap-learn pynndescent session-info
Installing collected packages: fonttools, stdlib-list, pynndescent, matplotlib, umap-learn, session-info, anndata, scanpy
  Attempting uninstall: matplotlib
    Found existing installation: matplotlib 3.2.2
    Uninstalling matplotlib-3.2.2:
      Successfully uninstalled matplotlib-3.2.2
Successfully installed anndata-0.8.0 fonttools-4.38.0 matplotlib-3.5.3 pynndescent-0.5.8 scanpy-1.9.1 session-info-1.0.0 stdlib-list-0.8.0 umap-learn-0.5.3

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting episcanpy
  Downloading episcanpy-0.3.2.tar.gz (50.3 MB)
     |████████████████████████████████| 50.3 MB 1.2 MB/s
Requirement already satisfied: anndata>=0.7 in /usr/local/lib/python3.7/dist-packages (from episcanpy) (0.8.0)
Requirement already satisfied: scanpy>=1.7.0 in /usr/local/lib/python3.7/dist-packages (from episcanpy) (1.9.1)
Requirement already satisfied: matplotlib>=3.1.2 in /usr/local/lib/python3.7/dist-packages (from episcanpy) (3.5.3)
Requirement already satisfied: pandas>=0.21 in /usr/local/lib/python3.7/dist-packages (from episcanpy) (1.3.5)
Requirement already satisfied: scipy>=1.4 in /usr/local/lib/python3.7/dist-packages (from episcanpy) (1.7.3)
Requirement already satisfied: seaborn in /usr/local/lib/python3.7/dist-packages (from episcanpy) (0.11.2)
Requirement already satisfied: h5py>=2.10.0 in /usr/local/lib/python3.7/dist-packages (from episcanpy) (3.1.0)
Requirement already satisfied: scikit-learn>=0.21.2 in /usr/local/lib/python3.7/dist-packages (from episcanpy) (1.0.2)
Requirement already satisfied: statsmodels>=0.10.0rc2 in /usr/local/lib/python3.7/dist-packages (from episcanpy) (0.12.2)
Requirement already satisfied: networkx in /usr/local/lib/python3.7/dist-packages (from episcanpy) (2.6.3)
Requirement already satisfied: natsort in /usr/local/lib/python3.7/dist-packages (from episcanpy) (5.5.0)
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (from episcanpy) (1.2.0)
Requirement already satisfied: numba>=0.50.0 in /usr/local/lib/python3.7/dist-packages (from episcanpy) (0.56.4)
Requirement already satisfied: numpy>=1.21.2 in /usr/local/lib/python3.7/dist-packages (from episcanpy) (1.21.6)
Collecting bamnostic>=1.0.12
  Downloading bamnostic-1.1.8.tar.gz (184 kB)
     |████████████████████████████████| 184 kB 53.8 MB/s
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
    Preparing wheel metadata ... done
Requirement already satisfied: umap-learn>=0.3.10 in /usr/local/lib/python3.7/dist-packages (from episcanpy) (0.5.3)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from episcanpy) (4.64.1)
Collecting tbb
  Downloading tbb-2021.7.1-py2.py3-none-manylinux1_x86_64.whl (4.0 MB)
     |████████████████████████████████| 4.0 MB 36.7 MB/s
Collecting legacy-api-wrap
  Downloading legacy_api_wrap-1.2-py3-none-any.whl (37 kB)
Collecting setuptools_scm
  Downloading setuptools_scm-7.0.5-py3-none-any.whl (42 kB)
     |████████████████████████████████| 42 kB 1.5 MB/s
Requirement already satisfied: packaging in /usr/local/lib/python3.7/dist-packages (from episcanpy) (21.3)
Collecting pysam
  Downloading pysam-0.20.0-cp37-cp37m-manylinux_2_24_x86_64.whl (15.4 MB)
     |████████████████████████████████| 15.4 MB 41.1 MB/s
Requirement already satisfied: importlib_metadata>=0.7 in /usr/local/lib/python3.7/dist-packages (from episcanpy) (4.13.0)
Requirement already satisfied: typing_extensions in /usr/local/lib/python3.7/dist-packages (from anndata>=0.7->episcanpy) (4.1.1)
Requirement already satisfied: cached-property in /usr/local/lib/python3.7/dist-packages (from h5py>=2.10.0->episcanpy) (1.5.2)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib_metadata>=0.7->episcanpy) (3.10.0)
Requirement already satisfied: pyparsing>=2.2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.1.2->episcanpy) (3.0.9)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.1.2->episcanpy) (1.4.4)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.1.2->episcanpy) (4.38.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.1.2->episcanpy) (0.11.0)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.1.2->episcanpy) (2.8.2)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.1.2->episcanpy) (7.1.2)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from numba>=0.50.0->episcanpy) (57.4.0)
Requirement already satisfied: llvmlite<0.40,>=0.39.0dev0 in /usr/local/lib/python3.7/dist-packages (from numba>=0.50.0->episcanpy) (0.39.1)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.21->episcanpy) (2022.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7->matplotlib>=3.1.2->episcanpy) (1.15.0)
Requirement already satisfied: patsy in /usr/local/lib/python3.7/dist-packages (from scanpy>=1.7.0->episcanpy) (0.5.3)
Requirement already satisfied: session-info in /usr/local/lib/python3.7/dist-packages (from scanpy>=1.7.0->episcanpy) (1.0.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.21.2->episcanpy) (3.1.0)
Requirement already satisfied: pynndescent>=0.5 in /usr/local/lib/python3.7/dist-packages (from umap-learn>=0.3.10->episcanpy) (0.5.8)
Collecting get-version>=2.0.4
  Downloading get_version-3.5.4-py3-none-any.whl (18 kB)
Collecting dunamai
  Downloading dunamai-1.14.1-py3-none-any.whl (23 kB)
Requirement already satisfied: stdlib-list in /usr/local/lib/python3.7/dist-packages (from session-info->scanpy>=1.7.0->episcanpy) (0.8.0)
Requirement already satisfied: tomli>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from setuptools_scm->episcanpy) (2.0.1)
Building wheels for collected packages: episcanpy, bamnostic
  Building wheel for episcanpy (setup.py) ... done
  Created wheel for episcanpy: filename=episcanpy-0.3.2-py3-none-any.whl size=125232 sha256=8f38276f50bfbc595f77842758077c6a9e33f8f9dafe8f06bd08d4a02027fd2b
  Stored in directory: /root/.cache/pip/wheels/80/ee/b2/c1d719a7519d3eb034a7959d6bb24ac5603a783c75b45c8b12
  Building wheel for bamnostic (PEP 517) ... done
  Created wheel for bamnostic: filename=bamnostic-1.1.8-py3-none-any.whl size=178413 sha256=e826e4980fdb2fb5b93653e805d1be24d0ddd2bc65d9693172c945651e2dd099
  Stored in directory: /root/.cache/pip/wheels/14/c1/83/8e29a56af1c1bb5c72fe2e8420d9a72b2326a59fc6d96c5628
Successfully built episcanpy bamnostic
Installing collected packages: dunamai, get-version, tbb, setuptools-scm, pysam, legacy-api-wrap, bamnostic, episcanpy
Successfully installed bamnostic-1.1.8 dunamai-1.14.1 episcanpy-0.3.2 get-version-3.5.4 legacy-api-wrap-1.2 pysam-0.20.0 setuptools-scm-7.0.5 tbb-2021.7.1

In [ ]:
import anndata
import networkx as nx
import scanpy as sc
#import scglue
from matplotlib import rcParams
import pandas as pd
import numpy as np
import anndata as ad

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
!cp /content/drive/MyDrive/cancer_water/GSE158398_P2003139.h5ad /content
!cp /content/drive/MyDrive/cancer_water/GSE158398_P2003138.h5ad /content

In [ ]:
!pip install episcanpy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: episcanpy in /usr/local/lib/python3.7/dist-packages (0.3.2)
Requirement already satisfied: networkx in /usr/local/lib/python3.7/dist-packages (from episcanpy) (2.6.3)
Requirement already satisfied: legacy-api-wrap in /usr/local/lib/python3.7/dist-packages (from episcanpy) (1.2)
Requirement already satisfied: scanpy>=1.7.0 in /usr/local/lib/python3.7/dist-packages (from episcanpy) (1.9.1)
Requirement already satisfied: natsort in /usr/local/lib/python3.7/dist-packages (from episcanpy) (5.5.0)
Requirement already satisfied: setuptools-scm in /usr/local/lib/python3.7/dist-packages (from episcanpy) (7.0.5)
Requirement already satisfied: seaborn in /usr/local/lib/python3.7/dist-packages (from episcanpy) (0.11.2)
Requirement already satisfied: importlib-metadata>=0.7 in /usr/local/lib/python3.7/dist-packages (from episcanpy) (4.13.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.7/dist-packages (from episcanpy) (21.3)
Requirement already satisfied: matplotlib>=3.1.2 in /usr/local/lib/python3.7/dist-packages (from episcanpy) (3.5.3)
Requirement already satisfied: numba>=0.50.0 in /usr/local/lib/python3.7/dist-packages (from episcanpy) (0.56.4)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from episcanpy) (4.64.1)
Requirement already satisfied: bamnostic>=1.0.12 in /usr/local/lib/python3.7/dist-packages (from episcanpy) (1.1.8)
Requirement already satisfied: anndata>=0.7 in /usr/local/lib/python3.7/dist-packages (from episcanpy) (0.8.0)
Requirement already satisfied: h5py>=2.10.0 in /usr/local/lib/python3.7/dist-packages (from episcanpy) (3.1.0)
Requirement already satisfied: numpy>=1.21.2 in /usr/local/lib/python3.7/dist-packages (from episcanpy) (1.21.6)
Requirement already satisfied: pysam in /usr/local/lib/python3.7/dist-packages (from episcanpy) (0.20.0)
Requirement already satisfied: scikit-learn>=0.21.2 in /usr/local/lib/python3.7/dist-packages (from episcanpy) (1.0.2)
Requirement already satisfied: pandas>=0.21 in /usr/local/lib/python3.7/dist-packages (from episcanpy) (1.3.5)
Requirement already satisfied: scipy>=1.4 in /usr/local/lib/python3.7/dist-packages (from episcanpy) (1.7.3)
Requirement already satisfied: statsmodels>=0.10.0rc2 in /usr/local/lib/python3.7/dist-packages (from episcanpy) (0.12.2)
Requirement already satisfied: umap-learn>=0.3.10 in /usr/local/lib/python3.7/dist-packages (from episcanpy) (0.5.3)
Requirement already satisfied: tbb in /usr/local/lib/python3.7/dist-packages (from episcanpy) (2021.7.1)
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (from episcanpy) (1.2.0)
Requirement already satisfied: typing_extensions in /usr/local/lib/python3.7/dist-packages (from anndata>=0.7->episcanpy) (4.1.1)
Requirement already satisfied: cached-property in /usr/local/lib/python3.7/dist-packages (from h5py>=2.10.0->episcanpy) (1.5.2)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=0.7->episcanpy) (3.10.0)
Requirement already satisfied: pyparsing>=2.2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.1.2->episcanpy) (3.0.9)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.1.2->episcanpy) (0.11.0)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.1.2->episcanpy) (2.8.2)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.1.2->episcanpy) (4.38.0)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.1.2->episcanpy) (7.1.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.1.2->episcanpy) (1.4.4)
Requirement already satisfied: llvmlite<0.40,>=0.39.0dev0 in /usr/local/lib/python3.7/dist-packages (from numba>=0.50.0->episcanpy) (0.39.1)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from numba>=0.50.0->episcanpy) (57.4.0)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.21->episcanpy) (2022.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7->matplotlib>=3.1.2->episcanpy) (1.15.0)
Requirement already satisfied: patsy in /usr/local/lib/python3.7/dist-packages (from scanpy>=1.7.0->episcanpy) (0.5.3)
Requirement already satisfied: session-info in /usr/local/lib/python3.7/dist-packages (from scanpy>=1.7.0->episcanpy) (1.0.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.21.2->episcanpy) (3.1.0)
Requirement already satisfied: pynndescent>=0.5 in /usr/local/lib/python3.7/dist-packages (from umap-learn>=0.3.10->episcanpy) (0.5.8)
Requirement already satisfied: get-version>=2.0.4 in /usr/local/lib/python3.7/dist-packages (from legacy-api-wrap->episcanpy) (3.5.4)
Requirement already satisfied: dunamai in /usr/local/lib/python3.7/dist-packages (from get-version>=2.0.4->legacy-api-wrap->episcanpy) (1.14.1)
Requirement already satisfied: stdlib-list in /usr/local/lib/python3.7/dist-packages (from session-info->scanpy>=1.7.0->episcanpy) (0.8.0)
Requirement already satisfied: tomli>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from setuptools-scm->episcanpy) (2.0.1)

# Function and basic test

In [ ]:
import anndata
import scanpy as sc
import episcanpy as epi

atac1=anndata.read_h5ad("GSE158398_P2003138.h5ad")
atac2=anndata.read_h5ad("GSE158398_P2003139.h5ad")

In [ ]:
import anndata
import networkx as nx
import scanpy as sc
#import scglue
from matplotlib import rcParams
import pandas as pd
import numpy as np
import anndata as ad

In [ ]:
import pandas as pd
import numpy as np
import anndata as ad

def atac_concat_get_index(adata1,adata2):
  import gc
  
  # 数据预处理
  adata1.var.loc[:,'ATAC'] = adata1.var.index
  adata1.var = pd.DataFrame((x.split('_') for x in adata1.var['ATAC']) , index = adata1.var.index , columns = ['chr','chromStart','chromEnd'])
  adata2.var.loc[:,'ATAC'] = adata2.var.index
  adata2.var = pd.DataFrame((x.split('_') for x in adata2.var['ATAC']) , index = adata2.var.index , columns = ['chr','chromStart','chromEnd'])

  # 判断是否出现 不存在某条染色体的情况，如果存在，我们希望染色体较少的一方为adata1（因为后续的分析都是针对adata1为染色体较少的情况进行分析的）
  # 如果出现adata1的染色体比adata2的染色体多，则调换位置
  if len(set(adata1.var.chr))>len(set(adata2.var.chr)):
    adata_chr = adata1
    adata1 = adata2
    adata2 = adata_chr
    Exchange = True #Exchange用于判断调换位置的特殊情况
  else:
    Exchange = False
 

  # 循环函数确定和拆分
  atac_var = adata1.var
  Promoter = adata2.var
  Promoter.loc[:,'chr']=Promoter.loc[:,'chr']+'_'
  Promoter.loc[:,'index_1'] = Promoter.index
  atac_var.loc[:,'chr']=atac_var.loc[:,'chr']+'_'
  atac_var.loc[:,'index_1'] = atac_var.index
  chr	= set(Promoter.chr)

  # 比对函数开始
  ATAC = {}
  PROMOTER = {}
  for x in chr:
    # 染色体拆分
    test = pd.DataFrame(columns=['Length'])
    ATAC[x] = test
    ATAC[x]=atac_var[atac_var.index.str.contains(x)]
    PROMOTER[x] = test
    test = pd.DataFrame(columns=['Length'])
    PROMOTER[x]=Promoter.loc[Promoter['chr'] == x]

    # 输出循环染色体
    print('start %s' % (x))
  
    # 特殊情况处理-判断该条染色体是否为空值,并进行赋值
    if len(ATAC[x].index)==0:
      ATAC[x] = PROMOTER[x]
      ATAC_INDEX = ATAC[x].columns.to_list() + ['overleaf_1','overleaf_2','chromStart_New','chromEnd_New','index_2']
      ATAC[x] = ATAC[x].reindex(columns=ATAC_INDEX, fill_value='retain')
      ATAC[x].loc[:,'index_2'] = ATAC[x].loc[:,'index_1']
      continue
    

    # index赋值
    ATAC_INDEX = ATAC[x].columns.to_list() + ['overleaf_1','overleaf_2','chromStart_New','chromEnd_New','index_2']
    ATAC[x] = ATAC[x].reindex(columns=ATAC_INDEX, fill_value='')
    
    # 函数主循环体
    for i in range(0,len(PROMOTER[x].chromEnd)):
      left = 0
      right = len(ATAC[x].chromEnd)-1
      target_Start = int(PROMOTER[x].chromStart.iloc[i])
      target_End = int(PROMOTER[x].chromEnd.iloc[i])


      n=0
      while(n<30):
        # 中位数表示 #
        midIndex = round(int((left+right)/2))
        midValue_Start = int(ATAC[x].chromStart.iloc[midIndex])
        midValue_End = int(ATAC[x].chromEnd.iloc[midIndex])
        # 三次condition判断 #

        if (target_Start > midValue_End) :
          left = midIndex
          n=n+1

        elif (target_End < midValue_Start):
          right = midIndex
          n=n+1
        else:
          Length = target_End - target_Start
          ATAC[x].loc[:,'overleaf_1'].iloc[midIndex] = (target_Start - midValue_End)/Length
          ATAC[x].loc[:,'overleaf_2'].iloc[midIndex] = (midValue_Start - target_End)/Length
          list = [midValue_Start,midValue_End,target_Start,target_End]
          ATAC[x].loc[:,'chromStart_New'].iloc[midIndex] = min(list)
          ATAC[x].loc[:,'chromEnd_New'].iloc[midIndex] = max(list)
          ATAC[x].loc[:,'index_2'].iloc[midIndex] = PROMOTER[x].index[i]
          break
 
  # 拼接dataframe
  ATAC_Promoter = pd.DataFrame()
  for i in chr:
    ATAC_Promoter = pd.concat([ATAC_Promoter,ATAC[i],],axis=0)
    
  # 删除未比对上序列
  ATAC_Promoter = ATAC_Promoter[ATAC_Promoter['overleaf_1']!='']

  # 定义新序列拼接函数
  def indeX(series):
    chr = series["chr"]
    chromStart_New = series["chromStart_New"]
    chromEnd_New = series["chromEnd_New"]
    indeX = chr + str(chromStart_New) +'_' +str(chromEnd_New)
    return indeX

  # 拼接新序列
  ATAC_Promoter.loc[:,'index_new'] = ''
  ATAC_Promoter.loc[:,'index_new'] = ATAC_Promoter.apply(indeX,axis=1)

  # 提取新序列
  pair_index = pd.DataFrame()
  pair_index.loc[:,'overleaf_1'] = ATAC_Promoter.loc[:,'overleaf_1']
  pair_index.loc[:,'overleaf_2'] = ATAC_Promoter.loc[:,'overleaf_2']
  pair_index.loc[:,'index_new'] = ATAC_Promoter.loc[:,'index_new']
  # 若出现adata1调换adata2的特殊情况，则在这里把adata1和adata2再调换回来
  if Exchange==True:
    pair_index.loc[:,'index_1'] = ATAC_Promoter.loc[:,'index_2']
    pair_index.loc[:,'index_2'] = ATAC_Promoter.loc[:,'index_1']
  else:
    pair_index.loc[:,'index_1'] = ATAC_Promoter.loc[:,'index_1']
    pair_index.loc[:,'index_2'] = ATAC_Promoter.loc[:,'index_2']
  # 特殊情况处理-空值染色体
  pair_index.loc[pair_index['overleaf_1']=='retain','index_new'] = pair_index.loc[pair_index['overleaf_1']=='retain','index_1']
  gc.collect()
  return pair_index


def atac_concat_inner(adata1,adata2,pair_index):
  import gc
  
  # 设置基本参数
  adata1.var.loc[:,'ATAC'] = adata1.var.index
  df1 = pd.DataFrame((x.split('_') for x in adata1.var['ATAC']) , index = adata1.var.index , columns = ['chr','chromStart','chromEnd'])
  adata1.var = df1
  adata2.var.loc[:,'ATAC'] = adata2.var.index
  df2 = pd.DataFrame((x.split('_') for x in adata2.var['ATAC']) , index = adata2.var.index , columns = ['chr','chromStart','chromEnd'])
  adata2.var = df2

  # 判断是否存在需要调换位置的情况
  if len(set(adata1.var.chr))>len(set(adata2.var.chr)): 
    Exchange = True #Exchange用于判断调换位置的特殊情况
  else:
    Exchange = False
  
  # 通过overleaf_1的赋值来判断是否存在缺失染色体的情况
  if Exchange==False:
    atac1_new = adata1[:,pair_index[pair_index['overleaf_1']!='retain'].index_1]
    atac1_new.var = pair_index[pair_index['overleaf_1']!='retain']
    atac1_new.var.index = atac1_new.var.index_new
    atac2_new = adata2[:,pair_index.index_2]
    atac2_new.var = pair_index
    atac2_new.var.index = atac2_new.var.index_new

  if Exchange==True:
    atac1_new = adata1[:,pair_index.index_1]
    atac1_new.var = pair_index
    atac1_new.var.index = atac1_new.var.index_new
    atac2_new = adata2[:,pair_index[pair_index['overleaf_1']!='retain'].index_2]
    atac2_new.var = pair_index[pair_index['overleaf_1']!='retain']
    atac2_new.var.index = atac2_new.var.index_new
  
  # 配对
  adata_pair = ad.concat([atac1_new,atac2_new],axis=0,join='outer',fill_value=0)
  adata_pair.obs_names_make_unique()
  adata_pair
  gc.collect()
  return adata_pair

def atac_concat_outer(adata1,adata2,pair_index):
  import gc
  
    # 提取关键参数
  adata1.var.loc[:,'ATAC'] = adata1.var.index
  adata1.var = pd.DataFrame((x.split('_') for x in adata1.var['ATAC']) , index = adata1.var.index , columns = ['chr','chromStart','chromEnd'])
  adata2.var.loc[:,'ATAC'] = adata2.var.index
  adata2.var = pd.DataFrame((x.split('_') for x in adata2.var['ATAC']) , index = adata2.var.index , columns = ['chr','chromStart','chromEnd'])

    # 判断是否存在需要调换位置的情况
  if len(set(adata1.var.chr))>len(set(adata2.var.chr)): 
    Exchange = True #Exchange用于判断调换位置的特殊情况
  else:
    Exchange = False
  
    # 通过overleaf_1的赋值来判断是否存在缺失染色体的情况
  if Exchange==False:
    atac1_new = adata1[:,pair_index[pair_index['overleaf_1']!='retain'].index_1]
    atac1_new.var = pair_index[pair_index['overleaf_1']!='retain']
    atac1_new.var.index = atac1_new.var.index_new
    atac2_new = adata2[:,pair_index.index_2]
    atac2_new.var = pair_index
    atac2_new.var.index = atac2_new.var.index_new

  if Exchange==True:
    atac1_new = adata1[:,pair_index.index_1]
    atac1_new.var = pair_index
    atac1_new.var.index = atac1_new.var.index_new
    atac2_new = adata2[:,pair_index[pair_index['overleaf_1']!='retain'].index_2]
    atac2_new.var = pair_index[pair_index['overleaf_1']!='retain']
    atac2_new.var.index = atac2_new.var.index_new

  # 计算前置数据
  index_list = atac1_new.var
  index_list.index = index_list.index_1
  df_month = pd.DataFrame(columns=['name'])
  df_month.name = adata1.var.index.values
  df_month.index = df_month.name.values
  df_month.drop(['name'],axis=1,inplace=True)
  # 整合index
  var_1 = pd.concat([index_list,df_month],join='outer',axis=1).copy()
  var_1 = var_1.fillna('*')
  var_1['name']=var_1.index
  # 替换index
  var_1.loc[var_1['index_1']!='*','name'] = var_1[var_1['index_1']!='*'].index_new.values
  var_1.index = var_1.name
  adata1.var =var_1
  # 输出结果
  adata1.var_name = var_1.index
  
   # 同上
  index_list = atac2_new.var
  index_list.index = index_list.index_2
  df_month = pd.DataFrame(columns=['name'])
  df_month.name = adata2.var.index.values
  df_month.index = df_month.name.values
  df_month.drop(['name'],axis=1,inplace=True)
  var_2 = pd.concat([index_list,df_month],join='outer',axis=1).copy()
  var_2 = var_2.fillna('*')
  var_2['name']=var_2.index
  var_2.loc[var_2['index_1']!='*','name'] = var_2[var_2['index_1']!='*'].index_new.values
  var_2.index = var_2.name
  adata2.var =var_2
  adata2.var_name = var_2.index

  adata_pair = ad.concat([adata1,adata2],axis=0,join='outer',fill_value=0)
  adata_pair.obs_names_make_unique()
  adata_pair

  gc.collect()
  return adata_pair

In [ ]:
pair_index = atac_concat_get_index(atac1,atac2)
pair_index

start chr11_
start chr1_
start chr21_
start chr22_
start chr20_
start chrX_
start chr3_
start chrY_
start chr4_
start chr16_
start chr12_
start chr7_
start chr10_
start chr17_
start chr13_
start chr18_
start chr8_
start chr15_
start chr19_
start chr9_
start chr5_
start chr14_
start chr2_
start chr6_

,overleaf_1,overleaf_2,index_new,index_1,index_2
chr11_192218_192324,-0.775561,-0.488778,chr11_192013_192414,chr11_192218_192324,chr11_192013_192414
chr11_202034_202344,-0.754128,-0.814679,chr11_201933_202478,chr11_202034_202344,chr11_201933_202478
chr11_206300_209548,-0.910515,-0.997763,chr11_206292_209868,chr11_206300_209548,chr11_206292_209868
chr11_235591_237610,-0.906918,-0.939623,chr11_235447_237832,chr11_235591_237610,chr11_235447_237832
chr11_250668_251199,-0.821958,-0.965875,chr11_250645_251319,chr11_250668_251199,chr11_250645_251319
...,...,...,...,...,...
chr6_170459476_170459849,-0.906522,-0.904348,chr6_170459432_170459892,chr6_170459476_170459849,chr6_170459432_170459892
chr6_170476497_170476505,-0.292453,-0.726415,chr6_170476381_170476805,chr6_170476497_170476505,chr6_170476381_170476805
chr6_170516920_170517437,-0.975962,-0.852564,chr6_170516828_170517452,chr6_170516920_170517437,chr6_170516828_170517452
chr6_170529778_170530236,-0.995833,-0.958333,chr6_170529758_170530238,chr6_170529778_170530236,chr6_170529758_170530238
chr6_170552539_170554972,-0.976517,-0.975734,chr6_170552477_170555032,chr6_170552539_170554972,chr6_170552477_170555032

In [ ]:
adata_inner = atac_concat_inner(atac1,atac2,pair_index) #交集
adata_inner

 UserWarning:/usr/local/lib/python3.7/dist-packages/anndata/_core/anndata.py:1828: Observation names are not unique. To make them unique, call `.obs_names_make_unique`.

AnnData object with n_obs × n_vars = 12844 × 71265

In [ ]:
adata_outer = atac_concat_outer(atac1,atac2,pair_index) #并集
adata_outer

AnnData object with n_obs × n_vars = 12844 × 93436

# 函数功能性测试

In [ ]:
def Overlap_inner(adata1,adata2,adata_inner):
  atac1 = adata1
  atac2 = adata2

  # 提取关键参数
  adata_inner.var.loc[:,'ATAC'] = adata_inner.var.index
  adata_inner.var = pd.DataFrame((x.split('_') for x in adata_inner.var['ATAC']) , index = adata_inner.var.index , columns = ['chr','chromStart','chromEnd'])
  # 提取关键参数
  atac1.var.loc[:,'ATAC'] = atac1.var.index
  atac1.var = pd.DataFrame((x.split('_') for x in atac1.var['ATAC']) , index = atac1.var.index , columns = ['chr','chromStart','chromEnd'])
  # 提取关键参数
  atac2.var.loc[:,'ATAC'] = atac2.var.index
  atac2.var = pd.DataFrame((x.split('_') for x in atac2.var['ATAC']) , index = atac2.var.index , columns = ['chr','chromStart','chromEnd'])

  atac_var = adata_inner.var
  atac_1_var = atac1.var
  atac_2_var = atac2.var
  chr	= set(atac_var.chr)

  # 设置重叠率存储变量
  Overlap = pd.DataFrame()
  OverlapIndex = Overlap.columns.to_list() + ['ChromLength_atac1','ChromLength_atac2','ChromLength_atac_inner','Overlap_atac1','Overlap_atac2']
  Overlap = Overlap.reindex(columns=OverlapIndex, fill_value=0)
  # 重叠率计算函数开始
  ATAC_INNER = {}
  ATAC_1 = {}
  ATAC_2 = {}
  for x in chr:
    # 染色体拆分
    test = pd.DataFrame(columns=['Length'])
    ATAC_INNER[x] = test
    ATAC_INNER[x]=atac_var[atac_var.chr == x]
    ATAC_INNER[x].loc[:,'length'] = ''
    test = pd.DataFrame(columns=['Length'])
    ATAC_1[x] = test
    ATAC_1[x]=atac_1_var[atac_1_var.chr == x]
    ATAC_1[x].loc[:,'length'] = ''

    test = pd.DataFrame(columns=['Length'])
    ATAC_2[x] = test
    ATAC_2[x]=atac_2_var[atac_2_var.chr == x]
    ATAC_2[x].loc[:,'length'] = ''

    # 输出标记
    print('start %s' % x)
  
    # 计算宽度
    Overlap.loc[x,'ChromLength_atac_inner'] = (ATAC_INNER[x].to_numpy()[:,[2]].astype(int) - ATAC_INNER[x].to_numpy()[:,[1]].astype(int)).sum()
    Overlap.loc[x,'ChromLength_atac1'] = (ATAC_1[x].to_numpy()[:,[2]].astype(int) - ATAC_1[x].to_numpy()[:,[1]].astype(int)).sum()
    Overlap.loc[x,'ChromLength_atac2'] = (ATAC_2[x].to_numpy()[:,[2]].astype(int) - ATAC_2[x].to_numpy()[:,[1]].astype(int)).sum()

  # 计算比例
  Overlap.loc[:,'Overlap_atac1'] = Overlap.loc[:,'ChromLength_atac_inner'].values/Overlap.loc[:,'ChromLength_atac1'].values
  Overlap.loc[:,'Overlap_atac2'] = Overlap.loc[:,'ChromLength_atac_inner'].values/Overlap.loc[:,'ChromLength_atac2'].values
  
  return Overlap

In [ ]:
Overlap = Overlap_inner(atac1,atac2,adata_inner)
Overlap

 SettingWithCopyWarning:/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1667:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

start chr11
start chr4
start chr17
start chr10
start chr3
start chr22
start chr20
start chr1
start chrY
start chr18
start chr8
start chr12
start chr19
start chr15
start chr13
start chrX
start chr2
start chr5
start chr21
start chr6
start chr14
start chr7
start chr16
start chr9

,ChromLength_atac1,ChromLength_atac2,ChromLength_atac_inner,Overlap_atac1,Overlap_atac2
chr11,4938000.0,4921961.0,4642162.0,0.940090,0.943153
chr4,3293066.0,3344953.0,3152547.0,0.957329,0.942479
chr17,5163841.0,5111292.0,4851856.0,0.939583,0.949243
chr10,4100583.0,4159248.0,3914269.0,0.954564,0.941100
chr3,5421467.0,5486020.0,5166697.0,0.953007,0.941793
chr22,2316963.0,2284808.0,2182849.0,0.942116,0.955375
chr20,2554597.0,2584346.0,2426533.0,0.949869,0.938935
chr1,9036173.0,9081936.0,8620606.0,0.954011,0.949204
chrY,21584.0,14996.0,14590.0,0.675964,0.972926
chr18,1585194.0,1600241.0,1511095.0,0.953256,0.944292
chr8,3720489.0,3738606.0,3526626.0,0.947893,0.943300
chr12,4886590.0,4875862.0,4641096.0,0.949762,0.951851
chr19,5314281.0,5185616.0,4955678.0,0.932521,0.955658
chr15,2875725.0,2898863.0,2742060.0,0.953520,0.945909
chr13,1943367.0,1958108.0,1829053.0,0.941177,0.934092
chrX,2345334.0,2348933.0,2233442.0,0.952292,0.950833
chr2,6921461.0,6995973.0,6577714.0,0.950336,0.940214
chr5,4461250.0,4446788.0,4194682.0,0.940248,0.943306
chr21,943847.0,982723.0,903948.0,0.957727,0.919840
chr6,5786306.0,5785662.0,5467805.0,0.944956,0.945061
chr14,3261975.0,3304297.0,3099762.0,0.950272,0.938100
chr7,4527840.0,4573573.0,4337183.0,0.957892,0.948314
chr16,3656294.0,3670452.0,3493195.0,0.955392,0.951707
chr9,3773060.0,3820606.0,3619757.0,0.959369,0.947430

In [ ]:
def Overlap_inner(adata1,adata2,adata_inner):
  atac1 = adata1
  atac2 = adata2

  # 提取关键参数
  adata_inner.var.loc[:,'ATAC'] = adata_inner.var.index
  adata_inner.var = pd.DataFrame((x.split('_') for x in adata_inner.var['ATAC']) , index = adata_inner.var.index , columns = ['chr','chromStart','chromEnd'])
  # 提取关键参数
  atac1.var.loc[:,'ATAC'] = atac1.var.index
  atac1.var = pd.DataFrame((x.split('_') for x in atac1.var['ATAC']) , index = atac1.var.index , columns = ['chr','chromStart','chromEnd'])
  # 提取关键参数
  atac2.var.loc[:,'ATAC'] = atac2.var.index
  atac2.var = pd.DataFrame((x.split('_') for x in atac2.var['ATAC']) , index = atac2.var.index , columns = ['chr','chromStart','chromEnd'])

  atac_var = adata_inner.var
  atac_1_var = atac1.var
  atac_2_var = atac2.var
  chr	= set(atac_var.chr)

  # 设置重叠率存储变量
  Overlap = pd.DataFrame()
  OverlapIndex = Overlap.columns.to_list() + ['ChromLength_atac1','ChromLength_atac2','ChromLength_atac_inner','Overlap_atac1','Overlap_atac2']
  Overlap = Overlap.reindex(columns=OverlapIndex, fill_value=0)
  # 重叠率计算函数开始
  ATAC_INNER = {}
  ATAC_1 = {}
  ATAC_2 = {}
  for x in chr:
    # 染色体拆分
    test = pd.DataFrame(columns=['Length'])
    ATAC_INNER[x] = test
    ATAC_INNER[x]=atac_var[atac_var.chr == x]
    ATAC_INNER[x].loc[:,'length'] = ''
    test = pd.DataFrame(columns=['Length'])
    ATAC_1[x] = test
    ATAC_1[x]=atac_1_var[atac_1_var.chr == x]
    ATAC_1[x].loc[:,'length'] = ''

    test = pd.DataFrame(columns=['Length'])
    ATAC_2[x] = test
    ATAC_2[x]=atac_2_var[atac_2_var.chr == x]
    ATAC_2[x].loc[:,'length'] = ''

    # 输出标记
    print('start %s' % x)
  
    # 计算宽度
    Overlap.loc[x,'ChromLength_atac_inner'] = (ATAC_INNER[x].to_numpy()[:,[2]].astype(int) - ATAC_INNER[x].to_numpy()[:,[1]].astype(int)).sum()
    Overlap.loc[x,'ChromLength_atac1'] = (ATAC_1[x].to_numpy()[:,[2]].astype(int) - ATAC_1[x].to_numpy()[:,[1]].astype(int)).sum()
    Overlap.loc[x,'ChromLength_atac2'] = (ATAC_2[x].to_numpy()[:,[2]].astype(int) - ATAC_2[x].to_numpy()[:,[1]].astype(int)).sum()

  # 计算比例
  Overlap.loc[:,'Overlap_atac1'] = Overlap.loc[:,'ChromLength_atac_inner'].values/Overlap.loc[:,'ChromLength_atac1'].values
  Overlap.loc[:,'Overlap_atac2'] = Overlap.loc[:,'ChromLength_atac_inner'].values/Overlap.loc[:,'ChromLength_atac2'].values
  
  return Overlap

In [ ]:
# 提取关键参数
adata_inner.var.loc[:,'ATAC'] = adata_inner.var.index
adata_inner.var = pd.DataFrame((x.split('_') for x in adata_inner.var['ATAC']) , index = adata_inner.var.index , columns = ['chr','chromStart','chromEnd'])
# 提取关键参数
atac1.var.loc[:,'ATAC'] = atac1.var.index
atac1.var = pd.DataFrame((x.split('_') for x in atac1.var['ATAC']) , index = atac1.var.index , columns = ['chr','chromStart','chromEnd'])
# 提取关键参数
atac2.var.loc[:,'ATAC'] = atac2.var.index
atac2.var = pd.DataFrame((x.split('_') for x in atac2.var['ATAC']) , index = atac2.var.index , columns = ['chr','chromStart','chromEnd'])
atac_var = adata_inner.var
atac_1_var = atac1.var
atac_2_var = atac2.var
chr	= set(atac_var.chr)

# 设置重叠率存储变量
Overlap = pd.DataFrame()
OverlapIndex = Overlap.columns.to_list() + ['ChromLength_atac1','ChromLength_atac2','ChromLength_atac_inner','Overlap_atac1','Overlap_atac2']
Overlap = Overlap.reindex(columns=OverlapIndex, fill_value=0)
  # 重叠率计算函数开始
ATAC_INNER = {}
ATAC_1 = {}
ATAC_2 = {}
for x in chr:
  # 染色体拆分
  test = pd.DataFrame(columns=['Length'])
  ATAC_INNER[x] = test
  ATAC_INNER[x]=atac_var[atac_var.chr == x]
  ATAC_INNER[x].loc[:,'length'] = ''
  test = pd.DataFrame(columns=['Length'])
  ATAC_1[x] = test
  ATAC_1[x]=atac_1_var[atac_1_var.chr == x]
  ATAC_1[x].loc[:,'length'] = ''

  test = pd.DataFrame(columns=['Length'])
  ATAC_2[x] = test
  ATAC_2[x]=atac_2_var[atac_2_var.chr == x]
  ATAC_2[x].loc[:,'length'] = ''

    # 输出标记
  print('start %s' % x)
  
    # 计算宽度
  Overlap.loc[x,'ChromLength_atac_inner'] = (ATAC_INNER[x].to_numpy()[:,[2]].astype(int) - ATAC_INNER[x].to_numpy()[:,[1]].astype(int)).sum()
  Overlap.loc[x,'ChromLength_atac1'] = (ATAC_1[x].to_numpy()[:,[2]].astype(int) - ATAC_1[x].to_numpy()[:,[1]].astype(int)).sum()
  Overlap.loc[x,'ChromLength_atac2'] = (ATAC_2[x].to_numpy()[:,[2]].astype(int) - ATAC_2[x].to_numpy()[:,[1]].astype(int)).sum()

# 计算比例
Overlap.loc[:,'Overlap_atac1'] = Overlap.loc[:,'ChromLength_atac_inner'].values/Overlap.loc[:,'ChromLength_atac1'].values
Overlap.loc[:,'Overlap_atac2'] = Overlap.loc[:,'ChromLength_atac_inner'].values/Overlap.loc[:,'ChromLength_atac2'].values

 SettingWithCopyWarning:/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1667:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

start chr11
start chr4
start chr17
start chr10
start chr3
start chr22
start chr20
start chr1
start chrY
start chr18
start chr8
start chr12
start chr19
start chr15
start chr13
start chrX
start chr2
start chr5
start chr21
start chr6
start chr14
start chr7
start chr16
start chr9

In [ ]:
len(atac1.X.todense()[:,0])

5642

In [ ]:
atac_df1 = atac1.to_df()
atac_df1.loc['sum',:] = atac_df1.sum(axis=0)
atac_df1

name,chr11_192013_192414,chr11_201933_202478,chr11_206292_209868,chr11_235447_237832,chr11_250645_251319,chr11_257229_257749,chr11_266646_270176,chr11_279029_282017,chr11_286735_300701,chr11_303203_304090,...,chrY_11316063_11316405,chrY_11320687_11321592,chrY_11322418_11323623,chrY_11329710_11330101,chrY_56829353_56829976,chrY_56842287_56842416,chrY_56845196_56845419,chrY_56848421_56848510,chrY_56849476_56849566,chrY_56850614_56850943
AAACGAAAGACTCGGA-1,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
AAACGAAAGCACCATT-1,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
AAACGAAAGTTGACAA-1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
AAACGAACAACTCCCT-1,0.0,0.0,0.0,2.0,0.0,0.0,0.0,2.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
AAACGAACAATGTAAG-1,1.0,2.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
TTTGTGTTCCGGCGAT-1,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
TTTGTGTTCTACCCGT-1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
TTTGTGTTCTGAAAGA-1,0.0,2.0,0.0,2.0,0.0,0.0,0.0,0.0,2.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
TTTGTGTTCTTACGGA-1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
sum,127.0,155.0,437.0,3813.0,131.0,2060.0,507.0,1459.0,108.0,1468.0,...,88.0,37.0,316.0,67.0,586.0,4.0,12.0,6.0,4.0,14.0

In [ ]:
atac_inner_df1 = adata_inner.to_df()
atac_inner_df1.loc['sum',:] = atac_inner_df1.sum(axis=0)
atac_inner_df1

index_new,chr11_192013_192414,chr11_201933_202478,chr11_206292_209868,chr11_235447_237832,chr11_250645_251319,chr11_257229_257749,chr11_266646_270176,chr11_279029_282017,chr11_286735_300701,chr11_303203_304090,...,chr6_170271336_170272721,chr6_170279949_170281123,chr6_170288762_170297604,chr6_170305793_170308166,chr6_170438444_170438693,chr6_170459432_170459892,chr6_170476381_170476805,chr6_170516828_170517452,chr6_170529758_170530238,chr6_170552477_170555032
AAACGAAAGACTCGGA-1,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
AAACGAAAGCACCATT-1,0.0,0.0,0.0,6.0,0.0,0.0,6.0,0.0,0.0,0.0,...,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
AAACGAAAGTTGACAA-1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
AAACGAACAACTCCCT-1,0.0,0.0,2.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,4.0
AAACGAACAATGTAAG-1,0.0,0.0,0.0,2.0,0.0,0.0,0.0,2.0,0.0,0.0,...,2.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
TTTGTGTGTCAGCTTA-1,0.0,0.0,2.0,2.0,0.0,0.0,2.0,0.0,0.0,0.0,...,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
TTTGTGTGTGCAAGAC-1,0.0,0.0,4.0,6.0,0.0,0.0,2.0,0.0,4.0,0.0,...,0.0,0.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0
TTTGTGTTCACTGATG-1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
TTTGTGTTCAGTACAC-1,0.0,0.0,6.0,2.0,0.0,0.0,6.0,0.0,0.0,0.0,...,0.0,0.0,2.0,0.0,1.0,0.0,0.0,0.0,0.0,2.0
sum,188.0,285.0,25523.0,17637.0,1328.0,415.0,19601.0,4035.0,8685.0,1168.0,...,4413.0,2294.0,7722.0,12284.0,103.0,358.0,161.0,986.0,548.0,19919.0

In [ ]:
atac_df1 = atac1.to_df()
atac_df1.loc['sum',:] = atac_df1.sum(axis=0)
atac_df1

# 函数极端情况测试-删除chrY_的测试

## 函数在极端情况下的测试-atac1删除chrY的测试

In [ ]:
atac1=anndata.read_h5ad("GSE158398_P2003138.h5ad")
atac2=anndata.read_h5ad("GSE158398_P2003139.h5ad")

In [ ]:
# 删除chrY的测试
atac1.var.loc[:,'ATAC'] = atac1.var.index
df1 = pd.DataFrame((x.split('_') for x in atac1.var['ATAC']) , index = atac1.var.index , columns = ['chr','chromStart','chromEnd'])
atac1.var = df1
atac1 = atac1[:,atac1.var[~atac1.var['chr'].isin(['chrY'])].index]
atac1

View of AnnData object with n_obs × n_vars = 5642 × 76831
    var: 'chr', 'chromStart', 'chromEnd'
    uns: 'omic'

In [ ]:
atac1.var[atac1.var['chr']=='chrY']

Empty DataFrame
Columns: [chr, chromStart, chromEnd]
Index: []

In [ ]:
len(set(atac1.var.chr))

23

In [ ]:
pair_index = atac_concat_get_index(atac1,atac2)
pair_index

 ImplicitModificationWarning:/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1667: Trying to modify attribute `.var` of view, initializing view as actual.

start chr13_
start chr8_
start chr7_
start chrX_
start chr12_
start chr5_
start chr19_
start chrY_
start chr10_
start chr9_
start chr3_
start chr14_
start chr15_
start chr20_
start chr2_
start chr6_
start chr16_
start chr17_
start chr11_
start chr4_
start chr1_
start chr21_
start chr18_
start chr22_

,overleaf_1,overleaf_2,index_new,index_1,index_2
chr13_19564634_19565291,-0.873672,-0.902007,chr13_19564551_19565398,chr13_19564634_19565291,chr13_19564551_19565398
chr13_19586793_19588055,-0.978648,-0.919573,chr13_19586680_19588085,chr13_19586793_19588055,chr13_19586680_19588085
chr13_19601668_19602454,-0.763689,-0.991354,chr13_19601659_19602700,chr13_19601668_19602454,chr13_19601659_19602700
chr13_19633015_19634676,-0.923523,-0.952532,chr13_19632925_19634821,chr13_19633015_19634676,chr13_19632925_19634821
chr13_19775807_19776771,-0.735089,-0.782912,chr13_19775403_19777264,chr13_19775807_19776771,chr13_19775403_19777264
...,...,...,...,...,...
chr22_50687354_50687524,-0.598465,-0.836317,chr22_50687290_50687681,chr22_50687354_50687524,chr22_50687290_50687681
chr22_50724017_50724402,-0.923261,-1.0,chr22_50724017_50724434,chr22_50724017_50724402,chr22_50724017_50724434
chr22_50729335_50729850,-1.185841,-0.95354,chr22_50729314_50729850,chr22_50729335_50729850,chr22_50729314_50729766
chr22_50732072_50732550,-0.965795,-0.995976,chr22_50732070_50732567,chr22_50732072_50732550,chr22_50732070_50732567
chr22_50756945_50757458,-0.962111,-0.73207,chr22_50756747_50757486,chr22_50756945_50757458,chr22_50756747_50757486

In [ ]:
atac_inner = atac_concat_inner(atac1,atac2,pair_index)
atac_inner

 UserWarning:/usr/local/lib/python3.7/dist-packages/anndata/_core/anndata.py:1828: Observation names are not unique. To make them unique, call `.obs_names_make_unique`.

AnnData object with n_obs × n_vars = 12844 × 71266

In [ ]:
atac_inner.var[atac_inner.var.index.str.contains('chrY')]

Empty DataFrame
Columns: []
Index: [chrY_11293413_11293819, chrY_11295010_11295898, chrY_11314315_11314551, chrY_11332988_11334246, chrY_56836699_56837049]

In [ ]:
atac_outer = atac_concat_outer(atac1,atac2,pair_index)
atac_outer

 UserWarning:/usr/local/lib/python3.7/dist-packages/anndata/_core/anndata.py:1828: Observation names are not unique. To make them unique, call `.obs_names_make_unique`.

AnnData object with n_obs × n_vars = 12844 × 93421

In [ ]:
atac_outer.var[atac_outer.var.index.str.contains('chrY')]

Empty DataFrame
Columns: []
Index: [chrY_11293413_11293819, chrY_11295010_11295898, chrY_11314315_11314551, chrY_11332988_11334246, chrY_56836699_56837049]

## 函数在极端情况下的测试-atac2删除chrY的测试

In [ ]:
atac1=anndata.read_h5ad("GSE158398_P2003138.h5ad")
atac2=anndata.read_h5ad("GSE158398_P2003139.h5ad")

In [ ]:
# 删除chrY的测试
atac2.var.loc[:,'ATAC'] = atac2.var.index
atac2.var = pd.DataFrame((x.split('_') for x in atac2.var['ATAC']) , index = atac2.var.index , columns = ['chr','chromStart','chromEnd'])
atac2 = atac2[:,atac2.var[~atac2.var['chr'].isin(['chrY'])].index]
atac2

View of AnnData object with n_obs × n_vars = 7202 × 87846
    var: 'chr', 'chromStart', 'chromEnd'
    uns: 'omic'

In [ ]:
atac2.var[atac2.var['chr']=='chrY']

Empty DataFrame
Columns: [chr, chromStart, chromEnd]
Index: []

In [ ]:
len(set(atac2.var.chr))

23

In [ ]:
pair_index = atac_concat_get_index(atac1,atac2)
pair_index

 ImplicitModificationWarning:/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1667: Trying to modify attribute `.var` of view, initializing view as actual.

start chr13_
start chr8_
start chr7_
start chrX_
start chr12_
start chr5_
start chr19_
start chrY_
start chr10_
start chr9_
start chr3_
start chr14_
start chr15_
start chr20_
start chr2_
start chr6_
start chr16_
start chr17_
start chr11_
start chr4_
start chr1_
start chr21_
start chr18_
start chr22_

,overleaf_1,overleaf_2,index_new,index_1,index_2
chr13_19564551_19565398,-1.162861,-1.126332,chr13_19564551_19565398,chr13_19564634_19565291,chr13_19564551_19565398
chr13_19586680_19588085,-1.023772,-1.08954,chr13_19586680_19588085,chr13_19586793_19588055,chr13_19586680_19588085
chr13_19601659_19602700,-1.312977,-1.01145,chr13_19601659_19602700,chr13_19601668_19602454,chr13_19601659_19602700
chr13_19632925_19634821,-1.087297,-1.054184,chr13_19632925_19634821,chr13_19633015_19634676,chr13_19632925_19634821
chr13_19775403_19777264,-1.511411,-1.419087,chr13_19775403_19777264,chr13_19775807_19776771,chr13_19775403_19777264
...,...,...,...,...,...
chr22_50687290_50687681,-1.923529,-1.376471,chr22_50687290_50687681,chr22_50687354_50687524,chr22_50687290_50687681
chr22_50724017_50724434,-1.083117,-1.0,chr22_50724017_50724434,chr22_50724017_50724402,chr22_50724017_50724434
chr22_50729314_50729766,-0.836893,-1.040777,chr22_50729314_50729850,chr22_50729335_50729850,chr22_50729314_50729766
chr22_50732070_50732567,-1.035565,-1.004184,chr22_50732070_50732567,chr22_50732072_50732550,chr22_50732070_50732567
chr22_50756747_50757486,-1.054581,-1.385965,chr22_50756747_50757486,chr22_50756945_50757458,chr22_50756747_50757486

In [ ]:
atac_inner = atac_concat_inner(atac1,atac2,pair_index)
atac_inner

 UserWarning:/usr/local/lib/python3.7/dist-packages/anndata/_core/anndata.py:1828: Observation names are not unique. To make them unique, call `.obs_names_make_unique`.

AnnData object with n_obs × n_vars = 12844 × 71288

In [ ]:
atac_inner.var

Empty DataFrame
Columns: []
Index: [chr10_100009037_100010704, chr10_100013810_100014868, chr10_100020394_100021040, chr10_100045949_100046542, chr10_10007975_10008392, chr10_100148922_100149157, chr10_100184821_100187259, chr10_100228592_100230205, chr10_100240730_100241241, chr10_100265202_100266120, chr10_100266850_100268308, chr10_100282851_100283375, chr10_100285015_100287514, chr10_100303645_100304113, chr10_100326605_100327655, chr10_100338219_100339988, chr10_100342309_100342779, chr10_100346103_100348206, chr10_100370547_100371711, chr10_100372864_100374621, chr10_100377768_100378329, chr10_100433479_100434352, chr10_10044968_10045409, chr10_100481225_100483204, chr10_100508615_100509576, chr10_100510718_100511507, chr10_100518672_100519672, chr10_100528418_100530533, chr10_100535309_100536557, chr10_100561775_100563390, chr10_100653839_100656958, chr10_100670755_100671574, chr10_100680719_100681161, chr10_100696571_100696872, chr10_100729019_100730242, chr10_100730757_100731773, chr10_100742302_100744815, chr10_100825809_100829701, chr10_100872204_100872688, chr10_100878410_100878892, chr10_100894835_100895876, chr10_100911996_100913889, chr10_100968849_100970848, chr10_100986739_100988159, chr10_100994279_100994631, chr10_100996122_101000582, chr10_101012579_101014919, chr10_101018038_101019595, chr10_101030433_101033261, chr10_101040919_101041787, chr10_101042410_101043725, chr10_101048021_101048492, chr10_101049798_101051001, chr10_101059713_101063904, chr10_101066018_101068282, chr10_101070923_101071995, chr10_101095340_101096219, chr10_101120829_101122456, chr10_101123115_101124486, chr10_101131037_101133481, chr10_101134249_101135386, chr10_101139300_101142919, chr10_101161506_101162386, chr10_101213389_101216784, chr10_101217410_101218839, chr10_101222232_101223657, chr10_101226638_101229443, chr10_101235985_101238024, chr10_101272130_101272814, chr10_101284239_101284867, chr10_101291224_101293267, chr10_101297644_101298697, chr10_101301429_101301836, chr10_101330792_101331126, chr10_101353294_101355044, chr10_101375124_101375470, chr10_101397125_101397511, chr10_101412954_101413546, chr10_101441995_101442622, chr10_101467200_101467782, chr10_101566350_101567250, chr10_101568965_101571158, chr10_101587468_101588795, chr10_101602600_101603224, chr10_101617406_101617864, chr10_101671517_101671803, chr10_101693490_101695800, chr10_101774053_101776833, chr10_101778097_101781732, chr10_101782288_101784268, chr10_101814501_101819623, chr10_101829107_101831766, chr10_101834338_101834797, chr10_101835746_101836580, chr10_101839301_101844610, chr10_101875021_101875692, chr10_101889365_101890079, chr10_101901056_101901940, chr10_101903688_101904510, chr10_101909202_101909648, ...]

[71288 rows x 0 columns]

In [ ]:
atac_inner.var[atac_inner.var.index.str.contains('chrY')]

Empty DataFrame
Columns: []
Index: [chrY_11292168_11296066, chrY_11305143_11305542, chrY_11306266_11306870, chrY_11307467_11308270, chrY_11310115_11310485, chrY_11312483_11312975, chrY_11313601_11315122, chrY_11316063_11316405, chrY_11320687_11321592, chrY_11322418_11323623, chrY_11329710_11330101, chrY_11332154_11334465, chrY_56829353_56829976, chrY_56830706_56837566, chrY_56842287_56842416, chrY_56845196_56845419, chrY_56848421_56848510, chrY_56849476_56849566, chrY_56850614_56850943]

In [ ]:
atac_outer = atac_concat_outer(atac1,atac2,pair_index)
atac_outer

 UserWarning:/usr/local/lib/python3.7/dist-packages/anndata/_core/anndata.py:1828: Observation names are not unique. To make them unique, call `.obs_names_make_unique`.

AnnData object with n_obs × n_vars = 12844 × 93427

In [ ]:
atac_outer.var[atac_outer.var.index.str.contains('chrY')]

Empty DataFrame
Columns: []
Index: [chrY_11292168_11296066, chrY_11305143_11305542, chrY_11306266_11306870, chrY_11307467_11308270, chrY_11310115_11310485, chrY_11312483_11312975, chrY_11313601_11315122, chrY_11316063_11316405, chrY_11320687_11321592, chrY_11322418_11323623, chrY_11329710_11330101, chrY_11332154_11334465, chrY_56829353_56829976, chrY_56830706_56837566, chrY_56842287_56842416, chrY_56845196_56845419, chrY_56848421_56848510, chrY_56849476_56849566, chrY_56850614_56850943]